<div class="top-0 w-full h-30 z-30 fixed flex items-center justify-center bg-base">
	<a href="/" class="btn btn-ghost no-animation normal-case text-xl mt-2 font-medium"
		>Andre J. Fernandez</a
	>
</div>
<div class="btm-nav fixed bottom-0">
	<button>
		<a href="/about"> <span class="font-icons text-3xl">person</span></a>
	</button>
	<button class="active">
		<a href="/services"> <span class="font-icons text-3xl">design_services</span></a>
	</button>
	<button>
		<a href="/contact"> <span class="font-icons text-3xl">mail</span></a>
	</button>
</div>
