<div class="navbar bg-neutral text-neutral-content fixed top-0 z-20">
	<div class="flex-1">
		<a href="/portfolio" class="btn btn-ghost no-animation normal-case text-xl"
			>Andre J. Fernandez</a
		>
	</div>
	<div class="flex-none">
		<ul class="menu menu-horizontal px-1">
			<a role="button" class="btn no-animation btn-ghost hover:btn-primary" href="/portfolio/about"
				>About Me</a
			>
			<a
				role="button"
				class="btn no-animation btn-ghost mx-4 hover:btn-secondary"
				href="/portfolio/services">Services</a
			>
			<a role="button" class="btn no-animation btn-ghost hover:btn-accent" href="/portfolio/contact"
				>Contact</a
			>
		</ul>
	</div>
</div>
