<ul
	class="menu menu-sm bg-base-200 justify-start rounded-box fixed right-5 top-1/2 transform -translate-y-1/2 z-50 hover-scale"
>
	<li>
		<div class="tooltip tooltip-left tooltip-primary" data-tip="Home">
			<a href="/portfolio/#home" class="flex justify-center items-center">
				<span class="font-icons text-3xl p-auto text-center">home</span>
			</a>
		</div>
	</li>
	<li>
		<div class="tooltip tooltip-left tooltip-primary" data-tip="About Me">
			<a href="/portfolio/#about" class="flex justify-center items-center">
				<span class="font-icons text-3xl">person</span>
			</a>
		</div>
	</li>

	<li>
		<div class="tooltip tooltip-left tooltip-primary" data-tip="My Services">
			<a href="/portfolio/#services" class="flex justify-center items-center">
				<span class="font-icons text-3xl">dashboard</span>
			</a>
		</div>
	</li>
	<li>
		<div class="tooltip tooltip-left tooltip-primary" data-tip="Contact Me">
			<a href="/portfolio/#contact" class="flex justify-center items-center">
				<span class="font-icons text-3xl">mail</span>
			</a>
		</div>
	</li>
</ul>
