<div class="btm-nav fixed bottom-0 z-10"></div>
<div class="btm-nav fixed bottom-0 z-20 fade-in">
	<button>
		<a href="/portfolio/"> <span class="font-icons text-3xl">home</span></a>
	</button>
	<button>
		<a href="/portfolio/about"> <span class="font-icons text-3xl">person</span></a>
	</button>
	<button>
		<a href="/portfolio/services"> <span class="font-icons text-3xl">design_services</span></a>
	</button>
	<button>
		<a href="/portfolio/contact"> <span class="font-icons text-3xl">mail</span></a>
	</button>
</div>
