<div class="navbar bg-base-100 fixed top-0">
	<div class="flex-1">
		<a href="/" class="btn btn-ghost no-animation normal-case text-xl">Andre J. Fernandez</a>
	</div>
	<div class="flex-none">
		<ul class="menu menu-horizontal px-1">
			<a role="button" class="btn hover:btn-primary" href="/about">About Me</a>
			<a role="button" class="btn mx-4 hover:btn-secondary" href="/services">Services</a>
			<a role="button" class="btn hover:btn-accent" href="/contact">Contact</a>
		</ul>
	</div>
</div>
