---
// Layout
import Layout from '../layouts/Layout.astro';

// Components
import Welcome from '../components/svelte/Welcome.svelte';
import Stack from '../components/svelte/Stack.svelte';
import Card from '../components/astro/Card.astro';
import ContactForm from '../components/svelte/ContactForm.svelte';

// Images
import astroImg from '../images/astro.jpg';
import svelteImg from '../images/svelte.jpg';

// Data
import { services } from '../utils/services';
---

<Layout title="Home">
	<!-- Greeting -->
	<div id="home" class="min-h-screen flex flex-col items-center justify-center">
		<Welcome client:idle />
	</div>

	<!-- About -->
	<div
		id="about"
		class="min-h-full lg:min-h-screen flex flex-col md:flex-row items-center justify-center my-24 md:my-auto px-40"
	>
		<div class="w-5/6 md:w-2/5 bg-base-300 p-5 rounded-md hover-scale mr-20">
			<h1 class="text-2xl font-semibold mb-2 underline">About Me</h1>
			<p class="text-lg md:text-xl">
				I'm a passionate full-stack web developer with a particular love for modern web
				technologies. My current front-end specialty lies in creating dynamic and user-friendly
				interfaces using <a class="underline" href="https://svelte.dev/" target="_blank">Svelte</a>,


				<a class="underline" href="https://kit.svelte.dev/" target="_blank">SvelteKit</a>, and
				<a class="underline" href="https://astro.build/" target="_blank">Astro</a>, which are
				cutting-edge frameworks for building highly interactive web experiences. My back-end
				specialty delves into the robust and scalable world of cloud computing. Leveraging platforms
				such as
				<a
					class="underline"
					href="https://azure.microsoft.com/en-us/products/app-service"
					target="_blank">Microsoft Azure</a
				>,
				<a class="underline" href="https://supabase.com/" target="_blank">Supabase</a>, and
				<a class="underline" href="https://www.netlify.com/" target="_blank">Netlify</a>, I design
				and implement flexible solutions that seamlessly adapt to business needs.
			</p>
		</div>
		<Stack images={[astroImg, svelteImg, astroImg]} client:idle />
	</div>

	<!-- Services -->
	<div
		id="services"
		class="min-h-screen flex flex-col md:flex-row items-center justify-start md:justify-center mb-24 md:mb-0"
	>
		{services.map((service) => <Card {...service} />)}
	</div>

	<!-- Contact -->
	<div
		id="contact"
		class="min-h-screen flex flex-col md:flex-row items-center justify-start md:justify-center mb-24 md:mb-0"
	>
		<ContactForm client:idle />
	</div>
</Layout>
