---
import Layout from '../layouts/MainLayout.astro';
import Greeting from '../components/astro/Greeting.astro';
---

<Layout title="Home">
	<div class="min-h-screen flex flex-col items-center justify-center">
		<Greeting />
	</div>
</Layout>
