---
import Layout from '../layouts/MainLayout.astro';
import { services } from '../utils/services';
---

<Layout title="Services">
	<div class="min-h-screen flex flex-col items-center justify-center">
		<h1>Services</h1>
	</div>
</Layout>
