---
import Swap from '../components/svelte/NavSwap.svelte';
---

<div class="h-40 ml-10 mt-10 w-2/5 m-auto bg-base-100 top-0 z-50 absolute">
	<div class="flex justify-between pb-3 px-5 border-b-2 border-neutral">
		<div class="flex flex-col">
			<h1 class="text-3xl font-bold">Andre J. Fernandez</h1>
			<h2 class="text-xl font-medium">Full-Stack Web Developer</h2>
		</div>
		<div class="flex mt-auto items-end">
			<a class="mt-auto"><span class="font-icons text-4xl">code</span></a>
			<a class="mt-auto mx-5"
				><span class="font-icons text-4xl"
					><span class="material-symbols-outlined"> person_add</span></span
				></a
			>
			<Swap client:load />
		</div>
	</div>
</div>
