---
let path = Astro.url.pathname;
---

<div class="navbar bg-base-100 fixed top-0 z-2 px-20">
	<div class="flex-1">
		<a href="/portfolio/" class="text-2xl font-medium">Andre J. Fernandez</a>
	</div>
	<div class="flex-none">
		<div class="tabs">
			<a
				href="/portfolio/"
				class=`tab tab-bordered ${path === '/portfolio' || path === '/portfolio/' ? 'tab-active' : ''}`
				>Home</a
			>
			<a
				href="/portfolio/about"
				class=`tab tab-bordered ${path === '/portfolio/about' || path === '/portfolio/about/'? 'tab-active' : ''}`
				>About Me</a
			>
			<a
				href="/portfolio/services"
				class=`tab tab-bordered ${path === '/portfolio/services' || path === '/portfolio/services/' ? 'tab-active' : ''}`
				>My Services</a
			>
			<a
				href="/portfolio/contact"
				class=`tab tab-bordered ${path === '/portfolio/contact' || path === '/portfolio/contact/' ? 'tab-active' : ''}`
				>Contact Me</a
			>
		</div>
	</div>
</div>
