<div class="navbar bg-neutral text-neutral-content z-50">
	<div class="navbar-start"></div>
	<div class="navbar-center">
		<a href="/portfolio" class="btn btn-ghost normal-case text-xl no-animation"
			>Andre J. Fernandez</a
		>
	</div>
	<div class="navbar-end"></div>
</div>
