<div class="navbar z-50">
	<div class="navbar-start"></div>
	<div class="navbar-center">
		<a href="/portfolio" class="btn btn-ghost normal-case text-2xl no-animation"
			>andrejfernandez.io</a
		>
	</div>
	<div class="navbar-end"></div>
</div>
