<!-- Top of screen -->
<div class="navbar bg-neutral text-neutral-content fixed top-0 z-20">
	<div class="navbar-start"></div>
	<div class="navbar-center">
		<a href="/portfolio" class="btn btn-ghost normal-case text-xl no-animation"
			>Andre J. Fernandez</a
		>
	</div>
	<div class="navbar-end"></div>
</div>
<!-- Bottom of screen -->
<div class="btm-nav fixed bottom-0">
	<button>
		<a href="/portfolio/about"> <span class="font-icons text-3xl">person</span></a>
	</button>
	<button class="active">
		<a href="/portfolio/services"> <span class="font-icons text-3xl">design_services</span></a>
	</button>
	<button>
		<a href="/portfolio/contact"> <span class="font-icons text-3xl">mail</span></a>
	</button>
</div>
