<div class="btm-nav fixed bottom-0 z-10"></div>
<div class="btm-nav fixed bottom-0 z-20 fouc-fade">
	<button>
		<a href="/portfolio/about"> <span class="font-icons text-3xl">person</span></a>
	</button>
	<button>
		<a href="/portfolio/services"> <span class="font-icons text-3xl">design_services</span></a>
	</button>
	<button>
		<a href="/portfolio/contact"> <span class="font-icons text-3xl">mail</span></a>
	</button>
</div>
<style>
	@keyframes foucFace {
		0% {
			opacity: 0;
		}
		40% {
			opacity: 0;
		}
		100% {
			opacity: 100;
		}
	}
	.fouc-fade {
		animation: foucFace 0.4s ease-in-out;
	}
</style>
