<!-- Top of screen -->
<div class="navbar bg-neutral text-neutral-content">
	<div class="navbar-start"></div>
	<div class="navbar-center">
		<a href="/portfolio" class="btn btn-ghost normal-case text-xl no-animation"
			>Andre J. Fernandez</a
		>
	</div>
	<div class="navbar-end"></div>
</div>
<!-- Bottom of screen -->
<div class="btm-nav fixed bottom-0 z-10"></div>

<div class="btm-nav fixed bottom-0 z-20 fouc-fade">
	<button>
		<a href="/portfolio/about"> <span class="font-icons text-3xl">person</span></a>
	</button>
	<button>
		<a href="/portfolio/services"> <span class="font-icons text-3xl">design_services</span></a>
	</button>
	<button>
		<a href="/portfolio/contact"> <span class="font-icons text-3xl">mail</span></a>
	</button>
</div>
<style>
	@keyframes foucFace {
		0% {
			opacity: 0;
		}
		40% {
			opacity: 0;
		}
		100% {
			opacity: 100;
		}
	}
	.fouc-fade {
		animation: foucFace 0.4s ease-in-out;
	}
</style>
