---
interface Props {
	title: string;
}

const { title } = Astro.props;
// import { ViewTransitions } from 'astro:transitions';

import DesktopNav from '../components/astro/nav/NavDesktop.astro';
import MobileNav from '../components/astro/nav/NavMobile.astro';
import MobileBanner from '../components/astro/nav/NavMobileBanner.astro';
import MiniNav from '../components/astro/nav/NavMini.astro';
import '@fontsource/material-icons';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/portfolio/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<!-- <ViewTransitions /> -->
		<title>{title}</title>
	</head>
	<body class="scroll-auto scroll-smooth overflow-auto">
		<!--Show on large screens -->
		<div class="hidden lg:block fade-in">
			<DesktopNav />
			<MiniNav />
		</div>
		<div class="lg:hidden">
			<MobileBanner />
		</div>
		<slot />
		<!--Show on small screens -->
		<div class="lg:hidden">
			<MobileNav />
		</div>
	</body>
</html>

<style is:global>
	/* Animation */

	.hover-scale {
		@apply hover:scale-105 transform transition-transform duration-100;
	}
	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		40% {
			opacity: 0;
		}
		100% {
			opacity: 100;
		}
	}
	.fade-in {
		animation: fadeIn 0.4s ease-in-out;
	}
</style>
